
.gradle/7.3.3/checksums/checksums.lock
.gradle/7.3.3/dependencies-accessors/dependencies-accessors.lock
.gradle/7.3.3/dependencies-accessors/gc.properties
.gradle/7.3.3/fileChanges/last-build.bin
.gradle/7.3.3/fileHashes/fileHashes.lock
.gradle/7.3.3/gc.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/vcs-1/gc.properties
.idea/gradle.xml
.idea/misc.xml
.idea/vcs.xml
.gradle/7.3.3/checksums/md5-checksums.bin
.gradle/7.3.3/checksums/sha1-checksums.bin
.gradle/7.3.3/executionHistory/executionHistory.bin
.gradle/7.3.3/executionHistory/executionHistory.lock
.gradle/7.3.3/fileHashes/fileHashes.bin
.gradle/7.3.3/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/file-system.probe
.idea/.name
.idea/compiler.xml
.idea/jarRepositories.xml
